<nav class="bg-black sticky top-0 z-50 border-b border-white/5">
  <div class="container mx-auto px-8 h-24 flex justify-between items-center">
    
    <a routerLink="/" class="flex items-center gap-4 group cursor-pointer">
      <div class="w-8 h-8 border border-emerald-500 flex items-center justify-center text-emerald-500 group-hover:bg-emerald-500 group-hover:text-black transition-all duration-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18" />
        </svg>
      </div>
      <div class="flex flex-col">
        <span class="text-xl font-light text-white tracking-[0.2em] uppercase leading-none">EgaBank</span>
        <span class="text-[9px] text-slate-500 tracking-[0.4em] uppercase mt-1">Lomé</span>
      </div>
    </a>

    <div class="hidden md:flex items-center gap-12">
      <a *ngFor="let link of navLinks" [href]="link.href"
         class="text-[10px] font-medium text-slate-400 hover:text-white transition-colors uppercase tracking-[0.3em]">
        {{ link.label }}
      </a>
    </div>

    <div class="flex items-center gap-8">
      <a routerLink="/login"
         class="hidden md:block text-[10px] font-medium text-slate-400 hover:text-white cursor-pointer transition-colors uppercase tracking-[0.3em]">
        Connexion
      </a>
      <a routerLink="/register"
         class="px-8 py-3 border border-white text-white text-[10px] font-bold hover:bg-white hover:text-black transition-all duration-500 uppercase tracking-[0.2em]">
        Ouvrir un compte
      </a>
    </div>

  </div>
</nav>